@import url("https://fonts.googleapis.com/css?family=Averia+Gruesa+Libre");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: url("../img/bg.png");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Averia Gruesa Libre', cursive; }

a {
  text-decoration: none; }

.container {
  width: 90%;
  max-width: 700px;
  margin: auto;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .container .target {
    background: #fff;
    margin: 40px 0;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    width: 100%; }

.slider_banner {
  overflow: hidden;
  z-index: 1000;
  position: relative; }
  .slider_banner .banner {
    position: relative;
    width: 100%; }
    .slider_banner .banner img {
      vertical-align: top;
      width: 100%;
      position: absolute;
      top: 0;
      left: 100%; }
  .slider_banner .arrow-banner {
    font-size: 35px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    z-index: 1100; }
    .slider_banner .arrow-banner:hover {
      color: rgba(0, 0, 0, 0.5); }
  .slider_banner .previous {
    left: 20px; }
  .slider_banner .next {
    right: 20px; }

.slider_info {
  text-align: center;
  overflow: hidden;
  padding: 20px 0;
  z-index: 1000;
  position: relative; }
  .slider_info .information {
    width: 100%; }
    .slider_info .information article {
      width: 100%;
      overflow: hidden;
      position: relative; }
      .slider_info .information article .slide {
        background: #fff;
        width: 100%;
        left: 100%;
        position: absolute;
        padding: 20px 80px; }
    .slider_info .information .name {
      color: #444;
      font-size: 38px;
      line-height: 38px;
      font-weight: 600;
      margin-bottom: 16px; }
    .slider_info .information .profession {
      color: #55acee;
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 16px; }
    .slider_info .information .country {
      color: #8d8d8d;
      font-size: 14px;
      line-height: 14px; }
      .slider_info .information .country img {
        position: relative;
        top: 2px;
        margin-right: 10px; }
    .slider_info .information .subtitle {
      color: #444;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 16px; }
    .slider_info .information .text {
      color: #55acee;
      font-size: 18px;
      line-height: 24px; }
  .slider_info .arrow-info {
    font-size: 35px;
    line-height: 35px;
    color: #E6E6E6;
    position: absolute;
    top: 50%;
    z-index: 1000; }
    .slider_info .arrow-info:hover {
      color: #6ed279; }
    .slider_info .arrow-info.previous {
      left: 20px; }
    .slider_info .arrow-info.next {
      right: 20px; }
  .slider_info .buttons {
    width: 100%; }
    .slider_info .buttons span {
      width: 14px;
      height: 14px;
      display: inline-block;
      margin: 0 10px;
      border-radius: 50%;
      background: #E6E6E6; }
    .slider_info .buttons .active {
      background: #6ed279; }

.social_network {
  width: 100%;
  text-align: center;
  padding: 20px 0; }
  .social_network a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 20px;
    padding: 14px 0;
    font-size: 25px;
    color: #fff;
    background: #000;
    border-radius: 50%;
    margin: 0 10px; }
  .social_network .github {
    background: #BBBBBB; }
  .social_network .twitter {
    background: #1DA1F2; }
  .social_network .linkedin {
    background: #1C87BD; }
