@import url('https://fonts.googleapis.com/css?family=Averia+Gruesa+Libre');

$bg-primary: #fff;

$gray: #E6E6E6;
$dark-mild: rgba(0,0,0,.2);
$dark-heavy: rgba(0,0,0,.5);
$green-sp: #6ed279;

$text-primary: #8d8d8d;
$text-secondary: #55acee;
$text-subtitle: #444;

$bg-github: #BBBBBB;
$bg-twitter: #1DA1F2;
$bg-linkedin: #1C87BD;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../img/bg.png');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Averia Gruesa Libre', cursive;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  .target {
    background: $bg-primary;
    margin: 40px 0;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    width: 100%;
  }
}

// Slider banner

.slider_banner {
  overflow: hidden;
  z-index: 1000;
  position: relative;
  .banner {
    position: relative;
    width: 100%;
    img {
      vertical-align: top;
      width: 100%;
      position: absolute;
      top: 0;
      left: 100%;
    }
  }
  .arrow-banner {
    font-size: 35px;
    line-height: 35px;
    color: $dark-mild;
    position: absolute;
    top: 50%;
    z-index: 1100;
    &:hover {
      color: $dark-heavy;
    }
  }
  .previous {
    left: 20px;
  }
  .next {
    right: 20px;
  }
}

// Slider Info

.slider_info {
  text-align: center;
  overflow: hidden;
  padding: 20px 0;
  z-index: 1000;
  position: relative;
  // Information section
  .information {
    width: 100%;
    article {
      width: 100%;
      overflow: hidden;
      position: relative;
      .slide {
        background: $bg-primary;
        width: 100%;
        left: 100%;
        position: absolute;
        padding: 20px 80px;
      }
    }
    .name {
      color: $text-subtitle;
      font-size: 38px;
      line-height: 38px;
      font-weight: 600;
      margin-bottom: 16px;
    }
    .profession {
      color: $text-secondary;
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 16px;
    }
    .country {
      color: $text-primary;
      font-size: 14px;
      line-height: 14px;
      img {
        position: relative;
        top: 2px;
        margin-right: 10px;
      }
    }
    .subtitle {
      color: $text-subtitle;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 16px;
    }
    .text {
      color: $text-secondary;
      font-size: 18px;
      line-height: 24px;
    }
  }
  .arrow-info {
    font-size: 35px;
    line-height: 35px;
    color: $gray;
    position: absolute;
    top: 50%;
    z-index: 1000;
    &:hover {
      color: $green-sp;
    }
    &.previous {
      left: 20px;
    }
    &.next {
      right: 20px;
    }
  }

  // Buttons carousel
  .buttons {
    width: 100%;
    span {
      width: 14px;
      height: 14px;
      display: inline-block;
      margin: 0 10px;
      border-radius: 50%;
      background: $gray;
    }
    .active {
        background: $green-sp;
      }
  }
}

.social_network {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 20px;
    padding: 14px 0;
    font-size: 25px;
    color: $bg-primary;
    background: #000;
    border-radius: 50%;
    margin: 0 10px;
  }
  .github {
    background: $bg-github;
  }
  .twitter {
    background: $bg-twitter;
  }
  .linkedin {
    background: $bg-linkedin;
  }
}